In [1]:
import os
import time
import gc

import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV, cross_val_score

In [2]:
PATH = r'/home/hq/git/udemy-recs/movielens-20m-dataset'
print(os.listdir(PATH))

['tag.csv', 'rating.csv', 'movie.csv', 'link.csv', 'genome_tags.csv', 'genome_scores.csv']

In [43]:
df = pd.read_csv(os.path.join(PATH, 'rating.csv'))
df.head(3)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39

In [4]:
###### PREPROCESSING ######

In [44]:
df.drop('timestamp',axis=1,inplace=True)

In [45]:
df.isna().any()

userId     False
movieId    False
rating     False
dtype: bool

In [46]:
df['userId']=df['userId'].apply(lambda x:x-1) #чтобы начинался с 0

In [48]:
print ('Unique movies: {}'.format(len(np.unique(df['movieId']))))

Unique movies: 26744

In [23]:
np.unique(df['movieId'])[-20:]

array([131166, 131168, 131170, 131172, 131174, 131176, 131180, 131231,
       131237, 131239, 131241, 131243, 131248, 131250, 131252, 131254,
       131256, 131258, 131260, 131262])

In [30]:
#df = df.reindex(df['movieId'].sort_values().index)
#df['movieId'] = pd.factorize(df['movieId'])[0]
#df = df.sort_index()

In [ ]:
###### Режем датасет для тестовых реализаций ######

In [81]:
def subdf(n_users=10000, n_movies=2000):
    m = df['movieId'].value_counts()[:n_movies].index.tolist()
    n = df['userId'].value_counts()[:n_users].index.tolist()
    small_df = df[df['userId'].isin(n) & df['movieId'].isin(m)].copy()
    return small_df

In [82]:
small_df = subdf(n_users=1000, n_movies=200) # для коллаборативной фильтрации возьму поменьше

In [83]:
small_df.head(3)

       userId  movieId  rating
19846     155        1     5.0
19847     155        2     5.0
19851     155        6     4.0