In [1]:
#install.packages("tidyverse", repos='http://cran.us.r-project.org')
#install.packages("MASS", repos='http://cran.us.r-project.org')
#install.packages("sqldf", repos='http://cran.us.r-project.org')
#install.packages("dplyr", repos='http://cran.us.r-project.org')
#install.packages("dplyr", repos='http://cran.us.r-project.org')
#install.packages("RCurl", repos='http://cran.us.r-project.org')

also installing the dependencies ‘colorspace’, ‘sys’, ‘ps’, ‘highr’, ‘markdown’, ‘plyr’, ‘labeling’, ‘munsell’, ‘RColorBrewer’, ‘askpass’, ‘rematch’, ‘prettyunits’, ‘processx’, ‘knitr’, ‘yaml’, ‘evaluate’, ‘tinytex’, ‘xfun’, ‘generics’, ‘reshape2’, ‘pkgconfig’, ‘R6’, ‘Rcpp’, ‘tidyselect’, ‘BH’, ‘plogr’, ‘DBI’, ‘lazyeval’, ‘scales’, ‘viridisLite’, ‘withr’, ‘curl’, ‘mime’, ‘openssl’, ‘clipr’, ‘cellranger’, ‘progress’, ‘callr’, ‘fs’, ‘rmarkdown’, ‘whisker’, ‘selectr’, ‘lifecycle’, ‘broom’, ‘dplyr’, ‘dbplyr’, ‘forcats’, ‘ggplot2’, ‘haven’, ‘hms’, ‘httr’, ‘lubridate’, ‘modelr’, ‘purrr’, ‘readr’, ‘readxl’, ‘reprex’, ‘rstudioapi’, ‘rvest’, ‘tibble’, ‘tidyr’, ‘xml2’

Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
“installation of package ‘curl’ had non-zero exit status”Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
“installation of package ‘httr’ had non-zero exit status”Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
“installation of package ‘rvest’ had non-zero exit status”Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
“installation of package ‘tidyverse’ had non-zero exit status”Updating HTML index of packages in '.Library'
Making 'packages.html' ... done
Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [1]:
library(ggplot2)
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Loading required package: RSQLite

In [7]:
sqldf('SELECT age, circumference FROM Orange WHERE Tree = 1 ORDER BY circumference ASC')

  age  circumference
1  118  30
2  484  58
3  664  87
4 1004 115
5 1231 120
6 1372 142
7 1582 145

In [9]:
sqldf("SELECT * FROM iris")
#sqldf("select * from iris") вообще говоря, работает, но все равно НЕ НАДО

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [10]:
data(BOD)
BOD

  Time demand
1 1     8.3
2 2    10.3
3 3    19.0
4 4    16.0
5 5    15.6
6 7    19.8

In [12]:
sqldf('SELECT demand FROM BOD')

  demand
1  8.3
2 10.3
3 19.0
4 16.0
5 15.6
6 19.8

In [13]:
sqldf('SELECT time, demand FROM BOD')

  Time demand
1 1     8.3
2 2    10.3
3 3    19.0
4 4    16.0
5 5    15.6
6 7    19.8

In [14]:
iris1 <- sqldf('SELECT "Petal.Width" FROM iris') #SQL как обычно не любит .

In [22]:
head(iris1, n=4L)

  Petal.Width
1 0.2
2 0.2
3 0.2
4 0.2

In [23]:
sqldf('SELECT * FROM iris LIMIT 5')

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [7]:
order <- sqldf('SELECT * FROM Orange ORDER BY age ASC, circumference DESC LIMIT 5')
order

  Tree age circumference
1 2    118 33
2 4    118 32
3 1    118 30
4 3    118 30
5 5    118 30

In [8]:
sqldf('SELECT demand FROM BOD WHERE Time < 3')

  demand
1  8.3
2 10.3

In [13]:
?rock

In [14]:
sqldf('SELECT * FROM rock WHERE (peri > 5000 AND shape < 0.05) OR perm > 1000')

  area peri     shape    perm
1 5048  941.543 0.328641 1300
2 1016  308.642 0.230081 1300
3 5605 1145.690 0.464125 1300
4 8793 2280.490 0.420477 1300

In [15]:
sqldf('SELECT * FROM BOD WHERE Time IN (1,7)')

  Time demand
1 1     8.3
2 7    19.8

In [16]:
sqldf('SELECT * FROM BOD WHERE Time NOT IN (1,7)')

  Time demand
1 2    10.3
2 3    19.0
3 4    16.0
4 5    15.6

In [ ]:
# ну и тп

In [17]:
d <- data.frame(a=c(1,1,1), b=c(1,NA,NA))

In [18]:
d

  a b
1 1  1
2 1 NA
3 1 NA

In [21]:
sqldf('SELECT COUNT() AS Numrows FROM d')

  Numrows
1 3

In [22]:
#соответственно
sqldf("SELECT COUNT(b) FROM d")

  COUNT(b)
1 1